.contact-info(class=customClass)
    .contact-info__bg
    .contact-info__item
        .contact-info__icon
            +contact-info-icon-geolocation
        p 888 Brannan Street in San Francisco, California
    .contact-info__item
        .contact-info__icon
            +contact-info-icon-phone
        a(type='phone' href="tel:+1 (039) 032 03 84") +1 (039) 032 03 84
    .contact-info__item
        .contact-info__icon
            +contact-info-icon-mail
        a(type='mail' href="mailto:info@airbnb.com") info@airbnb.com
