.burger
{
    position: relative;

    display: none;
    flex-direction: column;
    justify-content: center;

    width: 23px;
    height: 17px;

    cursor: pointer;
    transition: all .2s linear;

    $this: &;
    &__line
    {
        width: 100%;
        height: 3px;

        transition: width .1s linear;

        border-radius: 20px;
        background-color: $color-main-brand;
        &:after,
        &:before
        {
            position: absolute;
            left: 0;

            width: 100%;
            height: 3px;

            content: '';
            transition: all .3s linear;

            border-radius: 20px;
            background-color: $color-main-brand;
        }
        &:before
        {
            top: 0;
        }
        &:after
        {
            top: 14px;
        }
        #{$this}--active &
        {
            width: 0;
            &:after
            {
                top: 6px;

                width: 100%;

                transform: rotate(-45deg);
            }
            &:before
            {
                top: 6px;

                transform: rotate(45deg);
            }
        }
    }
}

@include tablet
{
    .burger
    {
        display: flex;
    }
}
