.main
{
    position: relative;

    height: calc(100vh - #{$header-height});
    min-height: calc(#{$form-height - 85px});
    &__iframe-block
    {
        width: 100%;
        height: 100%;
    }
    &__contact-info
    {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__form-wrap
    {
        position: absolute;
        right: $padding-size;
        bottom: 0;

        min-height: $form-height;

        border-radius: 8px 8px 0 0;
        background-color: $color-white;
        box-shadow: 0 4px 20px rgba(0, 0, 0, .12);
    }
}


@media all and (max-width: 768px)
{
    .main
    {
        &__iframe-block
        {
            position: relative;

            height: calc(100vh - #{$header-height-mobile} - #{$contact-info-height});
        }
        &__contact-info
        {
            position: relative;

            max-width: none;
        }
        &__form-wrap
        {
            position: relative;
            right: 0;

            margin-bottom: 15px;
        }
    }
}
