img {
	width: 200px;
	height: 300px;

	object-fit: cover;
	}


@import "./../../assets/styles/variables";
@import "./../../assets/styles/reset";
@import "./../../assets/styles/base";
@import "./../../components/Header/Header";
@import "./../../components/Footer/Footer";
