select#subject(name="subject")
  option(value="Work opportunities", selected) Work opportunities
  option(value="Questions about product") Questions about product
  option(value="Сooperation") Сooperation
  option(value="Other") Other
