.feedback.feedback--hide
  .feedback__image
    +feedback-image
  h2.feedback__title We received your message!
  h4.feedback__subtitle Thanks for contacting us! We will get back to you ASAP
  button.feedback__button Great!
