.contact-form
{
    padding: 36px 48px 40px;

    $this: &;
    &--shown
    {
        display: block;
    }
    &--hide
    {
        display: none;
    }
    &__title
    {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;

        margin-bottom: 38px;

        color: $color-black !important;
    }
    &__input-list > li
    {
        position: relative;

        margin-bottom: 28px;

        &:last-of-type
        {
            margin-bottom: 34px;
        }
    }
    &__label
    {
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;

        display: block;

        margin-bottom: 8px;

        letter-spacing: .08em;
        text-transform: uppercase;

        color: $color-label;
    }
    &__input
    {
        font-size: 16px;
        line-height: 16px;

        box-sizing: border-box;
        width: 100%;
        min-width: 320px;
        padding: 14px 16px;

        border: 1px solid $color-border-input;
        border-radius: 4px;

        @include input-autofill
        {
            -webkit-animation-name: autofill;

            -webkit-animation-fill-mode: both;
        }
        @include placeholder
        {
            font-size: inherit;

            transition: color .2s ease-out;
            text-overflow: ellipsis;

            color: $color-placeholder;
        }
        &:focus
        {
            border-left: 2px solid $color-focus;
            outline: none;

            @include placeholder
            {
                color: transparent;
            }
        }
        &.invalid
        {
            border-width: 1px;
            border-color: red;
            & + span
            {
                display: block;

                color: $color-main-brand;
            }
        }
    }
    &__error-message
    {
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;

        position: absolute;
        top: 0;
        right: 0;

        display: none;
    }
    &__textarea
    {
        display: block;

        height: 115px;

        resize: none;

        outline: none;
    }
    &__submit-button
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;

        position: relative;

        width: 100%;
        padding: 16px 0;

        cursor: pointer;

        color: $color-white;
        border-radius: 4px;
        outline: none;
        background: $color-main-brand;
        #{$this}--inactive &
        {
            color: transparent;
        }
    }
    &--inactive *
    {
        color: $color-border-input;
    }
}


@include tablet
{
    .contact-form
    {
        padding: 36px 23px 40px;
        &__input
        {
            min-width: 100%;
        }
    }
}
