.header
{
    position: relative;

    padding-top: 45px;
    padding-bottom: 130px;

    background-color: $color-white;
    &__container
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo-container
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo
    {
        display: block;
    }
    &__list
    {
        display: flex;
        align-items: center;
    }


    &__link
    {
        display: block;
        li:not(:last-child) &
        {
            margin-right: 32px;
        }
        li:nth-last-child(2) &
        {
            margin-right: 48px;
        }
    }
    &__sign-up-btn
    {
        font-weight: 700;
        line-height: 21px;

        padding: 16px 31px;

        color: $color-white;
        border-radius: 4px;
        background-color: $color-main-brand;
    }
}



@media all and (max-width: 768px)
{
    .header
    {
        padding: 0;
        &__container
        {
            flex-direction: column;
        }
        &__logo-container
        {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__list
        {
            flex-direction: column;

            padding: 20px 0;
        }
        &__link
        {
            li:not(:last-child) &
            {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        &__nav
        {
            max-height: 0;
            padding: 0;

            transition: max-height .4s ease-in-out;
            &--open
            {
                height: 100%;
                max-height: 275px;
            }
        }
    }
}
