header.header
  .container.header__container
    .header__logo-container
      a.header__logo(href="#")
        +header-logo
      include ./../../components/Burger/Burger
    nav.header__nav
      ul.header__list
        -
          let navList = [
              {
                  linkName: 'How it works?',
                  linkUrl: '#',
              },
              {
                  linkName: 'Browse',
                  linkUrl: '#',
              },
              {
                  linkName: 'Research',
                  linkUrl: '#',
              },
              {
                  linkName: 'About',
                  linkUrl: '#',
              },
              {
                  linkName: 'Contact',
                  linkUrl: '#',
              },
              {
                  linkName: 'Sign Up',
                  linkUrl: '#0',
                  customClass: 'header__sign-up-btn',
              },
          ]
        each listItem in navList
          li
            a.header__link(class=listItem.customClass, href=listItem.linkUrl)= listItem.linkName
