body {
  position: relative;
  font: {
    family: $font-main;
    size: $font-size;
    weight: 500;
  }
  color: $color-black;
}

.container{
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
  padding: 0 15px;
}