// fonts
$font-main: 'Raleway', sans-serif;
$font-size: 16px;

// colors
$color-black: #000;
$color-white: #fff;
$color-darkgrey: #212121;
$color-main-brand: #ff5a5f;
$color-inactive: #a6a6a6;
$color-focus: #5a6bff;
$color-label: #484848;
$color-border-input: #ebebeb;
$color-placeholder: #a6a6a6;

// Other
$header-height: 228px;
$header-height-mobile: 72px;
$padding-size: 15px;
$form-height: 763px;
$contact-info-height: 250px;

// media breakpoints
$tablet-breakpoint: 820px;
